<!doctype html>
<html lang="UFT-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/cms_common.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/css/cms.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/jquery/jqModal-1.9.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.simplemodal.confirm.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui-1.10.3.custom/css/redmond/jquery-ui-1.10.3.custom.min.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/css/TlibDragAndDropUpload.css?q={{appVer}}">

    <script src="/static/jquery/jquery-1.10.2.min.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js?q={{appVer}}"></script>
    <script src="/static/jquery.blockUI/jquery.blockUI.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jqDnR.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jquery.simplemodal.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jquery.simplemodal.confirm.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/js/cms-common.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/js/cms.js?q={{appVer}}" type="text/javascript"></script>

    <style type="text/css">
        body {
            margin: 10px !important;
        }
        table {
            font-size: 9pt !important;
        }
    </style>
    <title>{{ title }}</title>
</head>
<body>
    <div class="border"></div>
    <center>
        <h2>CMS</h2>
        <h3><font color="green">System administration tools</font></h3> TOSHIBA : {{current_user.get_user_name()}}
    </center>
    {% autoescape False %}
        {{ navi_bar_html }}
    {% endautoescape %}
    <div id="ope_msg">{{subTitle}}</div>
    <br>
    <center>
        <form action="{{url_for('database')}}" name="database_form" method="post">
            {{ form.hidden_tag() }}
            {% for err_msg in err_msgs %}
                <div class="required">{{ err_msg }}</div>
            {% endfor %}
            <center>
                <table id="property">
                    <tbody>
                        <tr>
                            <th colspan="2">Database Property</th>
                        </tr>
                        <tr class="even">
                            <td class="name">{{form.dbId.label}}(*)</td>
                            <td class="value">{{form.dbId.data}}</td>
                        </tr>
                        <tr class="odd">
                            <td class="name">{{form.dbName.label}}(*)</td>
                            <td class="value">
                                {{form.dbName(width = "100%")}}
                                {% for message in form.dbName.errors %}
                                    <br><span class="required">{{message}}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr class="even">
                            <td class="name">{{form.sessionCookieName.label}}(*)</td>
                            <td class="value">
                                {{form.sessionCookieName(width = "100%")}}
                                {% for message in form.sessionCookieName.errors %}
                                    <br><span class="required">{{message}}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr class="odd">
                            <td class="name">{{form.displayOrder.label}}</td>
                            <td class="value">
                                {{form.displayOrder(width = "100%")}}
                                {% for message in form.displayOrder.errors %}
                                    <br><span class="required">{{message}}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr class="even">
                            <td class="name">{{form.loginMessage.label}}</td>
                            <td class="value">
                                {{form.loginMessage(cols = "100", rows = "6")}}
                                {% for message in form.loginMessage.errors %}
                                    <br><span class="required">{{message}}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr class="odd">
                            <td class="name">{{form.informationMessage.label}}</td>
                            <td class="value">
                                {{form.informationMessage(cols = "100", rows = "6")}}
                                {% for message in form.informationMessage.errors %}
                                    <br><span class="required">{{message}}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr class="even">
                            <td class="name">{{form.remarks.label}}</td>
                            <td class="value">
                                {{form.remarks(cols = "100", rows = "6")}}
                                {% for message in form.remarks.errors %}
                                    <br><span class="required">{{message}}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </center>
            <input type="hidden" name="func" id="func" value="database_save" />
            <input type="hidden" name="editMode" id="editMode" value="{{ editMode }}" />
            <input type="hidden" name="dbId" id="dbId" value="{{ form.dbId.data }}" />
            <input type="hidden" name="dbName" id="dbName" value="{{ form.dbName.data }}" />
            {{form.submit}}
            <input type="button" name="cancel_btn" value="Cancel" onclick="cancel_func();" />
        </form>
    </center>
    <div class="border"></div>
    <script>
        //<![CDATA[
        var editMode = '{{ editMode }}';

        function cancel_func() {
            if (editMode == 'New') {
                window.location.href = "{{ url_for('database_admin') }}";
            } else {
                window.location.href = "{{ url_for('database', func='database_detail', db_id=form.dbId.data) }}";
            }
        }
        //]]>
    </script>
</body>
</html>