<!doctype html>
<html lang="UFT-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/cms_common.css?q={{appVer}}" />
    <link rel="stylesheet" type="text/css" href="/static/css/cms.css?q={{appVer}}" />
    <link rel="stylesheet" type="text/css" href="/static/jquery/jqModal-1.9.css?q={{appVer}}" />
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.simplemodal.confirm.css?q={{appVer}}" />
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui-1.10.3.custom/css/redmond/jquery-ui-1.10.3.custom.min.css?q={{appVer}}" />
    <link rel="stylesheet" type="text/css" href="/static/css/TlibDragAndDropUpload.css?q={{appVer}}" />

    <script src="/static/jquery/jquery-1.10.2.min.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js?q={{appVer}}"></script>
    <script src="/static/jquery.blockUI/jquery.blockUI.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jqDnR.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jquery.simplemodal.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jquery.simplemodal.confirm.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/js/cms-common.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/js/cms.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jqModal-1.9.js?q={{appVer}}" type="text/javascript"></script>

    <style type="text/css">
        body {
            margin: 10px !important;
        }
        table {
            font-size: 9pt !important;
        }
        .jqmWindow {
            width: 300px !important;
            height: 150px !important;
        }
    </style>
    <title>{{ title }}</title>
</head>
<body>
    <div class="border"></div>
    <center>
        <h2>CMS</h2>
        <h3><font color="green">System administration tools</font></h3> TOSHIBA : {{current_user.get_user_name()}}
    </center>
    {% autoescape False %}
        {{ navi_bar_html }}
    {% endautoescape %}
    <center>
        <table id="property_header">
            <tbody>
                <tr>
                    <td class="function">
                        Database Function:
                        <span class="object_menu"><a href="{{ url_for('database', func='database_edit', db_id = cmsDb['db_id'])}}" target="_self">Modify</a></span>
                        <span class="object_menu"><a href="javascript:void(0);" onclick="deleteDatabase('{{ cmsDb['db_id'] }}');">Delete</a></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
    <center>
        {% for err_msg in err_msgs %}
            <div class="required">{{ err_msg }}</div>
        {% endfor %}
        <table id="property">
            <tbody>
                <tr>
                    <th colspan="2">Database Property</th>
                </tr>
                {% for key, value in cmsDb.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td class="disp_content">{{ value or ''}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
    <div class="border"></div>

    <center>
        <table id="datalist_header" class="datalist_headerC">
            <tbody>
                <tr><th class="title">Data Management</th><td class="function"></td></tr>
            </tbody>
        </table>
        <table id="datalist" class="datalistC" style="width: 94%;">
            <tbody>
                <tr>
                    <th>Data Management</th>
                </tr>
                <tr class="even">
                    <td><a href="{{ url_for('list_format', db_id = cmsDb['db_id']) }}" target="_self">List Format</a></td>
                </tr>
                <tr class="even">
                    <td><a href="{{ url_for('property_format', db_id = cmsDb['db_id']) }}" target="_self">Property Format</a></td>
                </tr>
                <tr class="even">
                    <td><a href="{{ url_for('keyword_list', db_id = cmsDb['db_id']) }}" target="_self">Keyword</a></td>
                </tr>
                <tr class="even">
                    <td> <a href="{{ url_for('selectionMng.index',db_id = cmsDb['db_id']) }}" target="_self">Selection Master</a></td>
                </tr>
                <tr class="even">
                    <td> <a href="{{url_for('style_setting',db_id = cmsDb['db_id'])}}" target="_self">Style Setting</a></td>
                </tr>
            </tbody>
        </table>
    </center>

    <form id="databaseDeleteForm" action="{{ url_for('database') }}" method="post">
        <input type="hidden" name="func" value="database_delete" />
        <input type="hidden" name="db_id" value="{{ cmsDb['db_id'] }}" />
    </form>
    <script>
        //<![CDATA[
        var deleteDatabaseJqUrl = '{{ url_for('delete_database_jqmodal') }}';
        $(function() {
            $("#property tr:not(:has(th)):odd").addClass("odd");
            $("#property tr:not(:has(th)):even").addClass("even");
        });

        function deleteDatabase(db_id) {
            popupDeleteDatabase(db_id);
        }

        function deleteDb() {
            $("#databaseDeleteForm").submit();
        }
        //]]>
    </script>
    <div class="jqmWindow" id="jqmWindow"></div>
</body>
</html>