<!doctype html>
<html lang="UFT-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/cms_common.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/css/cms.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/jquery/jqModal-1.9.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.simplemodal.confirm.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui-1.10.3.custom/css/redmond/jquery-ui-1.10.3.custom.min.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/css/TlibDragAndDropUpload.css?q={{appVer}}">

    <script src="/static/jquery/jquery-1.10.2.min.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js?q={{appVer}}"></script>
    <script src="/static/jquery.blockUI/jquery.blockUI.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jqDnR.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jquery.simplemodal.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jquery.simplemodal.confirm.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/js/cms-common.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/js/cms.js?q={{appVer}}" type="text/javascript"></script>

    <style type="text/css">
        body {
            margin: 10px !important;
            overflow: hidden;
        }
        table {
            font-size: 9pt !important;
        }
    </style>
    <title>{{ title }}</title>
</head>
<body>
    <div class="border"></div>
    <center>
        <h2>CMS</h2>
        <h3><font color="green">System administration tools</font></h3> TOSHIBA : {{current_user.get_user_name()}}
    </center>

    <div class="border"></div>
    &nbsp;&gt;&nbsp;<a href="{{url_for('adm_index')}}">Main Menu</a>&nbsp;&gt;&nbsp;Database
    <div class="border"></div>
    <!-- new print_dataset_list_ex -->
    <center>
        <table id="datalist_header" class="datalist_headerC">
            <tbody>
                <tr>
                    <th class="title">Database List</th>
                    <td class="function">Database Function: <span class="object_menu"><a href="{{ url_for('database', func='database_edit') }}">Create</a></span></td>
                </tr>
            </tbody>
        </table>
        <table id="datalist" class="datalistC">
            <tbody>
                <tr>
                    <th>Database Name</th>
                    <th>Remarks</th>
                </tr>
                    {% for db_info in dbList %}
                    <tr id="{{db_info.db_id}}">
                        <td><a href="{{ url_for('database', func='database_detail', db_id=db_info.db_id) }}">{{db_info.db_name}}</a></td>
                        <td>{{db_info.remarks or ''}}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </center>
    <div class="border"></div>

    <script>
    //<![CDATA[
    $(function() {
        $("tr:not(:has(th)):odd").addClass("odd");
        $("tr:not(:has(th)):even").addClass("even");
    });

    //]]>
    </script>
</body>
</html>