<!doctype html>
<html lang="UFT-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/cms_common.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/css/cms.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/jquery/jqModal-1.9.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.simplemodal.confirm.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui-1.10.3.custom/css/redmond/jquery-ui-1.10.3.custom.min.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/css/TlibDragAndDropUpload.css?q={{appVer}}">

    <script src="/static/jquery/jquery-1.10.2.min.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js?q={{appVer}}"></script>
    <script src="/static/jquery.blockUI/jquery.blockUI.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jqDnR.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jquery.simplemodal.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jquery.simplemodal.confirm.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/tjslib/TlibJSFixedHeaderTable3.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/js/cms-common.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/js/cms.js?q={{appVer}}" type="text/javascript"></script>

    <style type="text/css">
        body {
            margin: 10px !important;
            overflow: hidden;
        }
        table {
            font-size: 9pt !important;
        }
        table.ip-addr-table th {
            background-color: #bbbbff;
            padding-top: 0px;
            padding-bottom: 0px;
        }
    </style>
    <title>{{ title }}</title>
</head>
<body>
    <div class="border"></div>
    <center>
        <h2>CMS</h2>
        <h3><font color="green">System administration tools</font></h3> TOSHIBA : {{current_user.get_user_name()}}
    </center>
    {% autoescape False %}
        {{ navi_bar_html }}
    {% endautoescape %}
    <!-- new print_dataset_list_ex -->
    <center>
        <table id="datalist_header" class="datalist_headerC">
            <tbody>
                <tr>
                    <th class="title">IP Address List Name: {{ipAddrMaster.ip_addr_list_name}}</th>
                    <td class="function">IP Address Function: <span class="object_menu"><a href="{{ url_for('ip_addr', func='ip_addr_edit', ip_addr_list_id=ipAddrMaster.ip_addr_list_id) }}">Add</a></span></td>
                </tr>
            </tbody>
        </table>
        <div id="tableDiv" class="TlibTableC">
            <table id="datalist" class="datalistC ip-addr-table">
                <thead>
                    <tr>
                        <th>IP Address Base</th>
                        <th>Subnet Mask</th>
                        <th>Range</th>
                        <th>Remarks</th>
                        <th>Menu</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ip_info in ipAddrList %}
                    <tr id="{{ ip_info.ip_address }}">
                        <td>{{ip_info.ip_address}}</td>
                        <td>{{ip_info.subnet_mask}}</td>
                        <td>{{ip_info.ip_addr_range}}</td>
                        <td><div id="description" style="overflow: auto; max-height: 100px; max-width: 300px;">{{ip_info.remarks}}</div></td>
                        <td>
                            <a href="{{ url_for('ip_addr', func='ip_addr_edit', ip_addr_list_id=ip_info.ip_addr_list_id, ip_address=ip_info.ip_address) }}">Modify</a>
                            <a href="{{ url_for('ip_addr', func='ip_addr_delete', ip_addr_list_id=ip_info.ip_addr_list_id, ip_address=ip_info.ip_address) }}" onclick="return delete_check();">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </center>
    <div class="border"></div>

    <script>
    //<![CDATA[
        $(function() {
            $("tr:not(:has(th)):odd").addClass("odd");
            $("tr:not(:has(th)):even").addClass("even");
            initFixedResultTable();
        });

        function initFixedResultTable() {
            var fixedHeaderCols = 0;
            initTlibJSFixedHeaderTable(
                {
                    header_rows: 1,
                    header_cols: 0,
                    table_div: 'tableDiv',
                    table_header_div: 'TlibTableHeaderfixed_table',
                    header_cols: fixedHeaderCols,
                });
            adjustFixedHeaderTable();
        }

        function delete_check() {
            if (confirm("Are you sure to delete this IP Address?")) {
                return true;
            } else {
                return false;
            }
        }
    //]]>
    </script>
</body>
</html>