<!doctype html>
<html lang="UFT-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/cms_common.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/css/cms.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/jquery/jqModal-1.9.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.simplemodal.confirm.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui-1.10.3.custom/css/redmond/jquery-ui-1.10.3.custom.min.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/css/TlibDragAndDropUpload.css?q={{appVer}}">

    <script src="/static/jquery/jquery-1.10.2.min.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js?q={{appVer}}"></script>
    <script src="/static/jquery.blockUI/jquery.blockUI.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jqDnR.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jquery.simplemodal.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jquery.simplemodal.confirm.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/js/cms-common.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/js/cms.js?q={{appVer}}" type="text/javascript"></script>

    <style type="text/css">
        body {
            margin: 10px !important;
            overflow: hidden;
        }
        table {
            font-size: 9pt !important;
        }
    </style>
    <title>{{ title }}</title>
</head>
<body>
    <div class="border"></div>
    <center>
        <h2>TOSHIBA CMS</h2>
        <h3><font color="green">System administration tools</font></h3> TOSHIBA : {{current_user.get_user_name()}}
    </center>

    <div class="border"></div>
    &nbsp;&gt;&nbsp;<a href="{{url_for('adm_index')}}">Main Menu</a>&nbsp;&gt;&nbsp;<a href="{{url_for('database_admin')}}" target="_self">Database</a>&nbsp;&gt;&nbsp;<a href="{{ url_for('database', func='database_detail', db_id=form.dbId.data) }}" >{{form.dbName.data}}</a>&nbsp;&gt;&nbsp;Keyword
    <div class="border"></div>
    <div id="ope_msg">{{subTitle}}</div>
    <br>
    <center>
        <form action="{{url_for('adm_keyword')}}" name="keyword_form" method="post">
            {{ form.hidden_tag() }}
            {% if msg %}
            <span class="required"> {{msg}} </span>
            {% endif %}
            {% for err_msg in err_msgs %}
                <div class="required">{{ err_msg }}</div>
            {% endfor %}
            <center>
                <table id="property">
                    <tbody>
                        <tr>
                            <th colspan="2">Keyword Property</th>
                        </tr>
                        <tr class="even">
                            <td class="name">{{form.keywordName.label}}(*)</td>
                            <td class="value">
                                {{form.keywordName}}
                                {% for message in form.keywordName.errors %}
                                    <br><span class="required">{{message}}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr class="odd">
                            <td class="name">{{form.multiSetFlg.label}}(*)</td>
                            <td class="value">
                                {{form.multiSetFlg}}
                                {% for message in form.multiSetFlg.errors %}
                                    <br><span class="required">{{message}}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr class="even">
                            <td class="name">{{form.notNullFlg.label}}</td>
                            <td class="value">
                                {{form.notNullFlg}}
                                {% for message in form.notNullFlg.errors %}
                                    <br><span class="required">{{message}}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr class="odd">
                            <td class="name">{{form.treeSeparator.label}}</td>
                            <td class="value">
                                {{form.treeSeparator}}
                                {% for message in form.treeSeparator.errors %}
                                    <br><span class="required">{{message}}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr class="even">
                            <td class="name">{{form.keywords.label}}</td>
                            <td class="value">
                                {{form.keywords(cols = "100", rows = "6")}}
                                {% for message in form.keywords.errors %}
                                    <br><span class="required">{{message}}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </center>
            <input type="hidden" name="func" id="func" value="keyword_save" />
            <input type="hidden" name="editMode" id="editMode" value="{{editMode}}" />
            <input type="hidden" name="keywordName" id="keywordName" value="{{form.keywordName.data}}" />
            <input type="hidden" name="keywordMstId" id="keywordMstId" value="{{form.keywordMstId.data}}" />
            <input type="hidden" name="dbId" id="dbId" value="{{form.dbId.data}}" />
            <input type="hidden" name="dbName" id="dbName" value="{{form.dbName.data}}" />
            {{form.submit}}
            <input type="button" name="cancel_btn" value="Cancel" onclick="return cancel_func('{{ url_for('keyword_list', db_id=form.dbId.data)}}');" />
        </form>
    </center>
    <div class="border"></div>
    <script>
        //<![CDATA[
        var editMode = '{{editMode}}';
        var db_id = '{{form.dbId.data}}';

        function cancel_func(url) {
            window.location.href = url;
        }
        //]]>
    </script>
</body>
</html>