<!doctype html>
<html lang="UFT-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/cms_common.css?q={{appVer}}" />
    <link rel="stylesheet" type="text/css" href="/static/css/cms.css?q={{appVer}}" />
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui-1.10.3.custom/css/redmond/jquery-ui-1.10.3.custom.min.css?q={{appVer}}" />

    <script src="/static/jquery/jquery-1.10.2.min.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js?q={{appVer}}"></script>
    <script src="/static/jquery.blockUI/jquery.blockUI.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/js/cms-common.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/js/cms.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jqModal-1.9.js?q={{appVer}}" type="text/javascript"></script>

    <style type="text/css">

        html { overflow: hidden; }
        body {
            overflow: auto;
            margin: 10px !important;
        }
        table {
            font-size: 9pt !important;
        }
        .dataTable th {
            background: #bbbbff;
            text-align: left;
        }
    </style>
    <title>{{ title }}</title>
</head>
<body>
    <div class="border"></div>
    <center>
        <h2>CMS</h2>
        <h3><font color="green">System administration tools</font></h3> TOSHIBA : {{current_user.get_user_name()}}
    </center>
    {% autoescape False %}
        {{ navi_bar_html }}
    {% endautoescape %}
    <center>
        {% for key, value in objectTypeDic.items() %}
        {% set objectType_id=key %}
        {% set objectType_name=value %}
            <table id="datalist_header" class="datalist_headerC">
                <tbody>
                    <tr>
                    <th class="title">{{ objectType_name }}</th>
                    <td class="function"><span class="object_menu">
                        <a href="{{ url_for('list_format_edit', func='edit',db_id = cmsDb['db_id'],object_type_id=objectType_id) }}">Add</a>
                    </span></td>
                    </tr>
                </tbody>
            </table>

            <table id="datalist" class="datalistC">
                <tbody>
                        <tr>
                            <th style="width: 85%;">Remarks</th>
                            <th>Menu</th>
                        </tr>
                        {% for data in listFormatDic.get(objectType_id) %}
                        <tr>
                            <td class="disp_content">{{ data.remarks or '' }}</td>
                            <td>
                                <a href="{{ url_for('list_format_edit', func='edit', db_id = cmsDb['db_id'], object_type_id=data.object_type_id,format_id=data.format_id) }}">Modify</a>
                                <a href="{{ url_for('list_format_delete', db_id = cmsDb['db_id'], format_id=data.format_id) }}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </center>
    <div class="border"></div>
    <script>
    //<![CDATA[
        $(function() {
            $("tr:not(:has(th)):odd").addClass("odd");
            $("tr:not(:has(th)):even").addClass("even");
        });
    //]]>
    </script>
</body>
</html>