<!doctype html>
<html lang="UFT-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/cms_common.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/css/cms.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/jquery/jqModal-1.9.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.simplemodal.confirm.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui-1.10.3.custom/css/redmond/jquery-ui-1.10.3.custom.min.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/css/TlibDragAndDropUpload.css?q={{appVer}}">

    <script src="/static/jquery/jquery-1.10.2.min.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js?q={{appVer}}"></script>
    <script src="/static/jquery.blockUI/jquery.blockUI.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jqDnR.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jquery.simplemodal.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jquery.simplemodal.confirm.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/js/cms-common.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/js/cms.js?q={{appVer}}" type="text/javascript"></script>

    <style type="text/css">
        body {
            margin: 10px !important;
            overflow: hidden;
        }

    </style>
    <title>CMS : System Admin Main Menu</title>
</head>
<body>
    <div class="border"></div>
    <center>
        <h2>CMS</h2>
        <h3><font color="green">System administration tools</font></h3> TOSHIBA : {{current_user.get_user_name()}}
    </center>
    <div class="border"></div>
    &nbsp;&gt;&nbsp;<a href="{{url_for('adm_index')}}">Main Menu</a>
    <div class="border"></div>
    <center>
        <table class="menu_list">
            <tbody>
                <tr>
                    <th>Database management</th>
                </tr>
                <tr class="even">
                    <td>
                        <a href="{{url_for('database_admin')}}" target="_self">Database</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
    <div class="border" style="margin-bottom: 10px;"></div>
    <center>
        <table class="menu_list">
            <tbody>
                <tr>
                    <th>IP address management</th>
                </tr>
                <tr class="even">
                    <td>
                        <a href="{{url_for('ip_addr_admin')}}" target="_self">IP address list master</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
    <div class="border"></div>
    <script>
    //<![CDATA[
    $(function() {

    });
    //]]>
    </script>
</body>
</html>