{% extends "cms_admin/selection_mng_base.html" %}

{% block container %}
    <div>
        <center>
            <table id="datalist_header" class="datalist_headerC">
                <tr>
                    <th class="title">Selection Master List</th>
                    <th class="function" style="float:right;">
                         <span class="object_menu">
                            <a href="{{ url_for( 'selectionMng.add', db_id=db_id) }}">Create</a>
                         </span>
                    </th>
                </tr>
            </table>
            <div class="">
                <table id="datalist" class="datalistC">
                    <tr>
                        <th>Name</th>
                        <th>Remarks</th>
                        <th>Display Order</th>
                    </tr>
                    {% for selection_mst in selection_msts %}
                        <tr>
                            <td>
                                <a href="{{ url_for( 'selectionMng.detail',mst_id=selection_mst.selection_mst_id, db_id=db_id) }}">{{ selection_mst.selection_mst_name or "" }}</a>
                            </td>
                            <td class="disp_content">{{ selection_mst.remarks or "" }}</td>
                            <td>
                                {% if selection_mst.display_order is not none %}
                                    {{ selection_mst.display_order }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </center>
    </div>
{% endblock %}