{% extends "cms_admin/selection_mng_base.html" %}

{% block container %}
    <center>
        <form action=""  method="post">
            {% for err_msg in get_flashed_messages() %}
                <div class="required">{{ err_msg }}</div>
            {% endfor %}
            <center>
                <table id="property">
                    <tbody>
                        <tr>
                            <th colspan="2">Selection Master</th>
                        </tr>
                        <tr class="even">
                            <td class="name"><label for="selection_mst_name">Name</label>(*)</td>
                            <td class="value">
                                <input id="selection_mst_name" name="selection_mst_name" type="text" required value="{{ selection_mst.selection_mst_name }}">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td class="name"><label for="remarks">Remarks</label></td>
                            <td class="value">
                                <textarea cols="100" id="remarks" name="remarks" rows="6">{{ selection_mst and selection_mst.remarks or "" }}</textarea>
                            </td>
                        </tr>
                        <tr class="even">
                            <td class="name"><label for="display_order">Display Order</label></td>
                            <td class="value">
                                <input id="display_order" name="display_order" type="number" value="{{ selection_mst and selection_mst.display_order }}">
                            </td>
                        </tr>

                    </tbody>
                </table>
            </center>
            <input type="hidden" name="db_id" id="db_id" value="{{ db_id }}">
            <input class="btn" id="submit" name="submit" type="submit" value="Save">
            <input class="btn" id="submit" name="submit" type="button" value="Cancel" onclick="window.location.href='{{parent_url}}'">
        </form>
    </center>
{% endblock %}