{% extends "cms_admin/selection_mng_base.html" %}
{% block head %}
    <style>
        #datalist_header {
            margin-bottom: -6px;
        }
    </style>
{% endblock %}

{% block container %}
    <center>
        <table id="datalist_header" class="datalist_headerC">
            <tr>
                <th class="title"></th>
                <th class="title" style="float:right;">
                    <div>
                        <span class="object_menu">
                            <a href="{{ url_for( 'selectionMng.update',mst_id=selection_mst.selection_mst_id, db_id=db_id) }}">Modify</a>&nbsp;
                        </span>
                        <span class="object_menu">
                            <a href="{{ url_for( 'selectionMng.delete', mst_id=selection_mst.selection_mst_id, db_id=db_id) }}" class="selection_mst" name="delete_cfm">Delete</a>
                        </span>
                    </div>
                </th>
            </tr>
        </table>
        <div id="tableDiv" class="TlibTableC">
            <table id="datalist" class="datalistC">
                <tr>
                    <th colspan="2">Selection Master Property</th>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{ selection_mst.selection_mst_name or "" }}</td>
                </tr>
                <tr>
                    <td>Remarks</td>
                    <td class="disp_content">{{ selection_mst.remarks or "" }}</td>
                </tr>
                <tr>
                    <td>Display Order</td>
                    <td>
                        {% if selection_mst.display_order is not none %}
                            {{ selection_mst.display_order }}
                        {% endif %}
                    </td>
                </tr>

            </table>
        </div>

        <table id="datalist_header" class="datalist_headerC">
            <tr>
                <th class="title">Selection List</th>
                <th class="title" style="float:right;">
                    <span class="object_menu">
                        <a href="{{ url_for( 'selectionMng.list_add',mst_id=selection_mst.selection_mst_id, db_id=db_id) }}">Create</a>
                    </span>
                </th>
            </tr>
        </table>
        <div id="tableDiv" class="TlibTableC">
            <table id="datalist" class="datalistC">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Display Order</th>
                    <th>Menu</th>
                </tr>
                {% for selection in selection_list %}
                    <tr>
                        <td>{{ selection.selection_name }}</td>
                        <td class="disp_content">{{ selection.description or "" }}</td>
                        <td>
                            {% if selection.display_order is not none %}
                                {{ selection.display_order }}
                            {% endif %}
                        </td>
                        <td width="200px">
                            <div>
                                <a href="{{ url_for( 'selectionMng.list_update',mst_id=selection_mst.selection_mst_id, list_id=selection.selection_id, db_id=db_id) }}">Modify</a>
                                <a href="{{ url_for( 'selectionMng.list_delete',mst_id=selection_mst.selection_mst_id, list_id=selection.selection_id, db_id=db_id) }}"
                                   name="delete_cfm" class="selection_data">Delete </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}


            </table>
            <!--Deleteリンクをクリックした、呼び出されるポップアップメッセージ 中身の内容-->
            <div id="dialog" title="&nbsp;">
            </div>
        </div>
    </center>
{% endblock %}