{% extends "cms_admin/selection_mmg_base.html" %}
{% block head %}
    <style>
        #datalist_header{
            margin-bottom: -6px;
        }
    </style>
    <script src="/static/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js"></script>

{% endblock %}

{% block container %}
    <center>
        <table id="datalist_header" class="datalist_headerC">
            <tr>
                <th class="title"></th>
                <th class="title" style="float:right;">
                    <div >
                        <span class="object_menu">
                            <a href="{{ url_for( 'selectionMng.update',mst_id=selection_mst.selection_mst_id, db_id=db_id) }}">Modify</a>&nbsp;
                        </span>
                        <span class="object_menu">
                            <a href="" class="selection_mst" name="delete_cfm"
                                    {% if selection_mst.can_delete %}
                               delete_url="{{ url_for( 'selectionMng.delete',mst_id=selection_mst.selection_mst_id, db_id=db_id) }}"
                                    {% endif %}>Delete</a>
                        </span>
                    </div>
                </th>
            </tr>
        </table>
        <div id="tableDiv" class="TlibTableC">
            <table id="datalist" class="datalistC">
                <tr>
                    <th colspan="2">Selection Master Property</th>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{ selection_mst.selection_mst_name or "" }}</td>
                </tr>
                <tr>
                    <td>Remarks</td>
                    <td class="disp_content">{{ selection_mst.remarks or "" }}</td>
                </tr>
                <tr>
                    <td>Display Order</td>
                    <td>
                        {% if selection_mst.display_order is not none %}
                            {{ selection_mst.display_order }}
                        {% endif %}
                    </td>
                </tr>

            </table>
        </div>

        <table id="datalist_header" class="datalist_headerC">
            <tr>
                <th class="title">Selection List</th>
                <th class="title" style="float:right;">
                    <span class="object_menu">
                        <a href="{{ url_for( 'selectionMng.list_add',mst_id=selection_mst.selection_mst_id, db_id=db_id) }}">Create</a>
                    </span>
                </th>
            </tr>
        </table>
        <div id="tableDiv" class="TlibTableC">
            <table id="datalist" class="datalistC">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Display Order</th>
                    <th>Menu</th>
                </tr>
                {% for selection in selection_list %}
                    <tr>
                        <td>{{ selection.selection_name }}</td>
                        <td class="disp_content">{{ selection.description or "" }}</td>
                        <td>
                            {% if selection.display_order is not none %}
                                {{ selection.display_order }}
                            {% endif %}
                        </td>
                        <td width="200px">
                            <div >
                                <a href="{{ url_for( 'selectionMng.list_update',mst_id=selection_mst.selection_mst_id, list_id=selection.selection_id, db_id=db_id) }}">Modify</a>
                                <a href="" name="delete_cfm" class="selection_data"
                                        {% if selection.can_delete %}
                                   delete_url="{{ url_for( 'selectionMng.list_delete',mst_id=selection_mst.selection_mst_id, list_id=selection.selection_id, db_id=db_id) }}"
                                        {% endif %}>Delete </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}


            </table>
            <!--Deleteリンクをクリックした、呼び出されるポップアップメッセージ 中身の内容-->
            <div id="dialog" title="&nbsp;">
            </div>
        </div>
    </center>
{% endblock %}
{% block script %}
    <script>
        var SELECTION_MST_DELETE_MSG = "{{ const.SELECTION_MST_DELETE_MSG }}";
        var SELECTION_DATA_DELETE_MSG = "{{ const.SELECTION_DATA_DELETE_MSG }}";
        var SELECTION_MST_CAN_NOT_DELETE_MSG = "{{ const.SELECTION_MST_CAN_NOT_DELETE_MSG }}";
        var SELECTION_DATA_CAN_NOT_DELETE_MSG = "{{ const.SELECTION_DATA_CAN_NOT_DELETE_MSG }}";

        function confirm_delete(text, delete_url) {
            var buttons = {}
            if (delete_url) {
                buttons["Submit"] = function () {
                    window.location.href = delete_url;
                };
            }
            buttons["Cancel"] = function () {
                $(this).dialog("close");
            };
            $("#dialog").dialog({modal: true, buttons: buttons}).text(text);
        }

        $("a[name='delete_cfm']").on("click", function (e) {
            e.preventDefault();
            var delete_url = $(this).attr("delete_url");
            var is_mst = $(this).is(".selection_mst");
            var text;
            if (is_mst) {
                text = delete_url ? SELECTION_MST_DELETE_MSG : SELECTION_MST_CAN_NOT_DELETE_MSG;
            } else {
                text = delete_url ? SELECTION_DATA_DELETE_MSG : SELECTION_DATA_CAN_NOT_DELETE_MSG;
            }
            confirm_delete(text, delete_url);
        });
    </script>
{% endblock %}