{% extends "base.html" %}
{% block js_content %}
    <script src="/static/js/TlibJSFixedHeaderTable3.js?q={{ appVer }}" type="text/javascript"></script>
    <script src="/static/jquery-ui-1.10.3.custom/jquery-ui.js?q={{ appVer }}" type="text/javascript"></script>
    <script src="/static/js/input_selectize.js?q={{ appVer }}" type="text/javascript"></script>
{% endblock %}
{% block css_content %}
    <link rel="stylesheet" type="text/css" href="/static/css/schedule_table.css?q={{ appVer }}">
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui-1.10.3.custom/jquery-ui.css?q={{ appVer }}">
{% endblock %}
{% block header_name %} {{ header_name }} {% endblock %}
{% block container_content %}
    <style type="text/css">
        body {
            overflow: hidden;
        }

        .header-content {
            padding-bottom: 10px;
            overflow: hidden;
        }

        .form-inline {
            white-space: nowrap;
            padding-bottom: 10px;
        }

        .form-inline .form-control {
            display: inline-block;
            width: auto;
            vertical-align: middle;
            border-color: black;
        }

        .form-inline .form-group {
            margin-left: 30px;
        }

        .form-inline .form-group.h5-text {
            margin-left: 10px;
            margin-right: 10px;
        }

        .form-inline select {
            min-width: 80px;

        }
        .form-inline input[type='text'] {
            width: 160px;
        }

        input[type="radio"], input[type="checkbox"] {
            margin: 0;
        }

        input, select {
            font-family: 'MS Gothic', Sans-serif;
            height: auto !important;
        }

        div.condition_area {
            float: left;
        }

        .btn-search {
            font-size: 18px;
            position: relative;
            margin-top: 20px;
        }

        /* jqModal用CSS */
        .jqmWindow {
            width: 800px !important;
            min-height: 500px !important;
            max-height: 80% !important;
        }

        .tooltip_table {
            overflow: auto;
            padding: 2px 1px;
            width: 500px;
            max-width: 500px;
            min-height: 0px;
            max-height: 400px;
        }

        .input_selectize{
            width: 150px !important;
        }

    </style>

    <div class="row">
        <h5>
            <a href="{{ url_for('main') }}"> HOME </a> > Outage Schedule
        </h5>
    </div>
    <div class="row">
        <form id="schedule_form" name="schedule_form" action="{{ url_for('outage_schedule') }}" method="post">
            <div class="header-content" id="schedule_form-headerContents">
                <div class="condition_area">
                    <div class="form-inline">
                        <div class="form-group">
                            {{ form.country.label(class="control-label") }}
                            {{ form.country(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.plant.label(class="control-label") }}
                            {{ form.plant(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.c1(class="form-control") }}
                            {{ form.c1.label(class="control-label") }}
                        </div>
{#                        <div class="form-group">#}
{#                            {{ form.c2(class="form-control") }}#}
{#                            {{ form.c2.label(class="control-label") }}#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            {{ form.c3(class="form-control") }}#}
{#                            {{ form.c3.label(class="control-label") }}#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            {{ form.c4(class="form-control") }}#}
{#                            {{ form.c4.label(class="control-label") }}#}
{#                        </div>#}
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label>Period
                                {{ form.date_start(class="form-control") }}
                                <span style="padding: 0 10px 0 10px;">～</span>
                                {{ form.date_end(class="form-control") }}
                            </label>
                        </div>
                    </div>
                    {{ form.page(class="hidden") }}
                </div>
                <div class="right-header-btn">
                    <div class="form-group" style="vertical-align: bottom;">
                        {#                    <button type="submit" class="btn btn-info btn-lg" style="padding: 0px 15px; font-size: 30px;">Search</button>#}
                        {{ form.search(class="btn btn-info btn-search") }}
                        {% if menu_param["outage_schedule_list"] %}
                            <button type="button" class="btn btn-info btn-search" onclick="addOutageSchedule();">Add
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if menu_param["outage_schedule_list"] %}
                <div class="right-header-btn" id="search-result-sub-title" style="position: relative;top: -16px;">
                    <span class="search-count-title">
                        <span class="sub-title">検索結果</span>
                        <span class="search-count">
                            <span d="resultForm-resultCount">{{ menu_param.page_model.item_count }}件 </span>
                        </span>
                    </span>
                    <span class="search-page-control" id="resultForm-paging" style="display: inline-block;">
                            {% for page in menu_param.page_model.current_pages %}
                                <input class="btn btn-page {% if page==menu_param.page_model.page %}
                                    btn-primary
                                    {% else %}
                                    btn-default
                                {% endif %}" name="page_control" type="submit" value="{{ page }}">
                            {% endfor %}
                    </span>
                </div>
                <div class="search-result-div clear-float">
                    {% include "part_outage_schedule_list.html" %}
                </div>
            {% elif "POST" == request.method %}
                <div class="required">該当データがありません。</div>
            {% endif %}
        </form>
    </div>
    <script>
        var teiken_map = {{ menu_param["tenken_dict"]|safe or {} }};
        var plant;
        //<![CDATA[
        $(function () {
            $(document).tooltip({
                classes: {
                    "ui-tooltip": "tooltip_table"
                },
                items: ".td_link.purple,.td_link.green,.td_link.red",
                content: function () {
                    var ids = JSON.parse(this.id);
                    return parse_ids_to_table(ids);
                },
            });

            $("input").keypress(function (ev) {
                if (ev.which && ev.which === 13 || ev.keyCode && ev.keyCode === 13) {
                    return false;
                } else {
                    return true;
                }
            });
            $(".td_link").on("click", function () {
                var teiken_ids = JSON.parse(this.id);
                if (teiken_ids.length == 0) {
                    addOutageByStartStr(this);
                } else if (teiken_ids.length == 1) {
                    outageScheduleDetail(teiken_ids[0]);
                } else {
                    outageScheduleList(this.id);
                }
            });

            {% if menu_param["outage_schedule_list"] %}
                fixedResultTable();
            {% endif %}
            // min-yearを選択されたとき、max-yearが自動的に変化します
            $("#date_start").on("change", function () {
                $("#date_end").val(Math.min(this.value * 1 + 5, $("#date_end option:last").val()));
            });
            // 再検索する時、ページが初期化をします
            $("#search").on("click", function () {
                $("#page").val(1);
            });
            // ページングの設定
            $("#resultForm-paging input:submit").on("click", function () {
                $("#page").val(this.value);
            });
            //# CountryのUnitリスト
            $("#country").change(on_country_change).change();
        });

        function on_country_change() {
            if ($("#country").val() !== "None") {
                var url = "{{ url_for('get_plant') }}?country_cd=" + $("#country").val();
                if (!plant) {
                    plant = $("#plant").input_selectize(url);
                } else {
                    plant.load_ajax(url);
                }
            }else{
                if (plant) plant.show_input();
            }
        }

        function parse_ids_to_table(ids) {
            var outage_type_mapping = {
                '1': "Major",
                '2': "Minor",
                '3': "Other",
                '4': "N/A",
            };
            var No = 0;
            var res = "";
            ids.forEach(function (value) {
                No = No + 1;
                var Outage_Type_T = 'Turbine: ' + outage_type_mapping[teiken_map[value][2]];
                var Outage_Type_G = 'Generator: ' + outage_type_mapping[teiken_map[value][3]];
                res += "<tr> " +
                    "       <td class='NW'> " + No + "</td> " +
                    "       <td class='NW AT AL '> " + teiken_map[value][0] + "</td> " +
                    "       <td class='NW AT AL'> " + teiken_map[value][1] + "</td>" +
                    "       <td class='NW AT AL'> " + Outage_Type_T + ", " + Outage_Type_G + "</td> " +
                    "   </tr> ";
            });
            return "<div class=\"arrow\"  >" +
                "<table class='table-bordered psprimis-list-table' style='border: 1px solid black; width:100%'>" +
                " <tr> " +
                "   <th class='NW' style='border: 1px solid black'>No.</th> " +
                "   <th class='NW' style='border: 1px solid black'>Start</th> " +
                "   <th class='NW' style='border: 1px solid black'>End</th> " +
                "   <th class='NW' style='border: 1px solid black'>Outage Type</th> " +
                "</tr>" + res +
                "</table></div>";
        }

        function fixedResultTable() {
            var fixedHeaderCols = 9;

            initTlibJSFixedHeaderTable(
                {
                    table_div: 'schedule_form-schedule_list',
                    header_cols: fixedHeaderCols,
                    bg_color: ''
                });
            initResultListClick();
        }

        // 予定選択画面「jqModal」
        function outageScheduleList(teiken_ids_str) {
            var url = '{{url_for("outage_schedule_jqmodal")}}';
            var modal = $("#jqmWindow").jqm().css("opacity", "0").jqmShow();
            $.post(url, {teiken_ids_str: teiken_ids_str})
                .done(function (data) {
                    modal.html(data);
                    var l = ($(window).width() / 2) - (modal.width() / 2);
                    var t = ($(window).height() / 2) - (modal.height() / 2);
                    modal.css("left", l).css("top", t).jqDrag(".jqDnRHandle").css("opacity", "1.0");
                });
        }

        function outageScheduleDetail(teiken_id) {
            var url = '{{url_for("outage_schedule_detail")}}';
            var param_str = $.param({
                teiken_id: teiken_id,
                date_start: $("#date_start").val(),
                date_end: $("#date_end").val(),
            });
            var path = url + "?" + param_str;
            window.open(path, "_blank");
        }

        // 予定追加
        function addOutageSchedule() {
            var $selectedTrs = $("#schedule_form-schedule_list .data_selected");
            if ($selectedTrs.length != 1) {
                alert('一行を選択してください。');
            } else {
                var url = '{{url_for("outage_schedule_add")}}';
                var param_str = $.param({
                    turbine_id: $selectedTrs.attr("id"),
                    data_type: $selectedTrs.attr("data_type"),
                    date_start: $("#date_start").val(),
                    date_end: $("#date_end").val(),
                });
                var path = url + "?" + param_str;
                window.open(path, "_blank");
            }
        }

        // 最終日処理
        function get_end_date(str) {
            var date = new Date(str);
            date.setMonth(date.getMonth() + 1);
            date.setDate(0);
            var date_year = date.getFullYear();
            var date_month = ('0' + (date.getMonth() + 1)).slice(-2);
            var date_date = ('0' + (date.getDate())).slice(-2);
            return date_year + "/" + date_month + "/" + date_date;
        }

        // 予定追加
        function addOutageByStartStr(self) {
            var startStr = $(self).attr("label");
            var url = '{{url_for("outage_schedule_add")}}';
            //  var endStr = startStr.substr(0, 4) + "/" + startStr.substr(-2) + "/01");
            var param_str = $.param({
                turbine_id: $(self).parent("tr").attr("id"),
                data_type: $(self).parent("tr").attr("data_type"),
                outage_start: startStr.substr(0, 4) + "/" + startStr.substr(-2) + "/01",
                outage_end: get_end_date(startStr.substr(0, 4) + "/" + startStr.substr(-2) + "/01"),
                date_start: $("#date_start").val(),
                date_end: $("#date_end").val(),
            });
            var path = url + "?" + param_str;
            window.open(path, "_blank");
        }

        // add、edit画面で保存するとき、該当画面をreload
        function search() {
            $("#schedule_form").submit()
        }

        //]]>
    </script>
    <div class="jqmWindow" id="jqmWindow"></div>
    <div id="confirm">
        <div class="header"><span>Confirm</span></div>
        <div class="message"></div>
        <div class="buttons middleBtnArea float_none width_170">
            <div class="btn btn-default yes float_none">Yes</div>
            <div class="btn btn-default no simplemodal-close float_none">No</div>
        </div>
    </div>
    <div id="alert">
        <div class="header"><span>Alert</span></div>
        <div class="message"></div>
        <div class="buttons middleBtnArea">
            <div class="btn btn-default no simplemodal-close">OK</div>
        </div>
    </div>
{% endblock %}