{% extends "base.html" %}
{% block header_name %}HOME{% endblock %}

{% block container_content %}
<style type="text/css">
    .btn-main {
        padding: 10px 60px;
        margin-bottom: 20px;
        font-size:19px;
        color: #fff;
        background-color: #394fff;
        border-color: #394fff;
        font-weight: 900;
    }
    .btn-l {
        font-size:16px;
        text-align :left;
        margin-bottom: 5px;
        color: #000;
        background-color: #DAE8EE;
        border-color: #DAE8EE;
        font-weight: 900;
    }
</style>
<div class="row">
    <h4 class="font-weight-normal pull-right">Thermal Power Services</h4>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        <div class="row">
            <div class="btn-group-vertical" role="group" >
                <a class="btn btn-main" href="#">General1 </a>
                <a class="btn btn-l" href="http://devsrv1.tsurumi.toshiba.co.jp:8580/turbine/cgi/login.cgi" target="_blank">①Plant Data Base </a>
                <a class="btn btn-l" href="{{ url_for('outage_schedule') }}">②Outage Schedule </a>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center" >
        <div class="btn-group-vertical" role="group">
            <a class="btn btn-main" href="#">PR menu </a>
            <a class="btn btn-l" href="#">①Product Line Settings </a>
            <a class="btn btn-l" href="#">②Offer Status </a>
            <a class="btn btn-l" href="#">③Q&A</a>
            <a class="btn btn-l" href="#">④FR Flow</a>
        </div>
    </div>
    <div class="col-md-4 text-center" >
        <div class="btn-group-vertical" role="group" >
            <a class="btn btn-main" href="#">Dashboards </a>
            <a class="btn btn-l" href="#">①Outages </a>
            <a class="btn btn-l" href="#">②PR Status</a>
        </div>
    </div>
</div>
{% endblock %}