<!doctype html>
<html lang="UFT-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-dist/css/bootstrap.min.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/css/cms_common.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/css/cms.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui-1.10.3.custom/css/redmond/jquery-ui-1.10.3.custom.min.css?q={{appVer}}">

    <script src="/static/jquery/jquery-1.10.2.min.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/bootstrap-dist/js/bootstrap.min.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js?q={{appVer}}"></script>
    <script src="/static/jquery.blockUI/jquery.blockUI.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/js/cms-common.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/js/cms.js?q={{appVer}}" type="text/javascript"></script>
    <style type="text/css">
        html,body { margin: 0px; padding: 0px; }
        html { overflow: hidden; }
        body { overflow: hidden; }
    </style>
    <title>{{ title }}</title>
</head>
<body>
    <div class="condtion">
        <div class="border"></div>
        <center>
            <h2>CMS : {{ menu_param["db_name"] }}</h2>
            <h3><font color="green">System administration tools</font></h3> TOSHIBA : {{current_user.get_user_name()}}
        </center>
        {% autoescape False %}
            {{ navi_bar_html }}
        {% endautoescape %}
    </div>
    <div style="margin:40px">
        <h4>
            {{ menu_param.msg }}
        </h4>
        <div style="margin-bottom: 40px"></div>
        <a href="{{ url_for('db_adm_index',db_id=db_id) }}" style="font-size: 18px">＞Go to Main Menu</a>
    </div>
</body>
</html>