<!doctype html>
<html lang="UFT-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/cms_common.css?q={{appVer}}" />
    <link rel="stylesheet" type="text/css" href="/static/css/cms.css?q={{appVer}}" />
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui-1.10.3.custom/css/redmond/jquery-ui-1.10.3.custom.min.css?q={{appVer}}" />

    <script src="/static/jquery/jquery-1.10.2.min.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js?q={{appVer}}"></script>
    <script src="/static/jquery.blockUI/jquery.blockUI.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/js/cms-common.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/js/cms.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/tjslib/TlibJSFixedHeaderTable3.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/tjslib/TlibJSTableFilter.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jquery.highlight-3a.js?q={{appVer}}" type="text/javascript"></script>

    <style type="text/css">
        html { overflow: hidden; }
        body {
            overflow: hidden;
            margin: 10px !important;
        }
        table {
            font-size: 9pt !important;
        }
        .dataTable th {
            background: #bbbbff;
            text-align: left;
        }
        .highlight { background-color: yellow; }
    </style>
    <title>{{ title }}</title>
</head>
<body>
    <div class="condtion">
        <div class="border"></div>
        <center>
            <h2>CMS : {{ db_name }}</h2>
            <h3><font color="green">System administration tools</font></h3> TOSHIBA : {{current_user.get_user_name()}}
        </center>
        <div class="border"></div>
        &nbsp;&gt;&nbsp;<a href="{{url_for('db_adm_index')}}?db_id={{ db_id }}">Main Menu</a>&nbsp;&gt;Privilege (Department)
        <div class="border"></div>
        <br>
    </div>
    <div>
        <center>
            <table id="datalist_header" class="datalist_headerC">
                <tr>
                    <th class="title">Privilege (Department)</th>
                    <th style="float:right;">
                        <span><input style="height: 22px;" type="text" id="search_txt"/></span>
                        <input type="button" id="search_btn" value="Search">
                    </th>
                </tr>
            </table>
            <div>
                <div id="tableDiv" class="TlibTableC">
                    <table id="datalist" class="dataTable dataListC">
                        <tr>
                            <th class="no_border no_border_left"></th>
                            {% for cnt in range(1, 4) %}
                            <th class="no_border"></th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Corp Cd</th>
                            <th>Corp Name</th>
                            <th>Dept Cd</th>
                            <th>Full Dept Name</th>
                        </tr>
                        {% for data in deptList %}
                            <tr>
                                <td>{{ data.corp_cd }}</td>
                                <td>{{ data.corp_name }}</td>
                                <td>{{ data.dept_cd }}</td>
                                <td>{{ data.full_dept_name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </center>
    </div>
    <script>
        var fixed_table = new TlibHeaderFixedTable();
        fixed_table._table_div = 'tableDiv';
        fixed_table._table_header_div = 'TlibTableHeaderfixed_table';
        fixed_table._table_height = 0;
        fixed_table._header_cols = 0;
        fixed_table._no_resize_bind = 0;
        fixed_table._use_get_bounding_client_rect_on_ie11 = 1;
        fixed_table._use_get_bounding_client_rect = 1;
        fixed_table.init();

        $(function() {
            $("#search_txt").keydown(function(event) {
                if (event.keyCode == 13) {
                    $("#search_btn").click();
                }
            })
        });

        initTlibTableFilter('datalist');
    </script>
</body>
</html>