<!doctype html>
<html lang="UFT-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-dist/css/bootstrap.min.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/css/cms_common.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/css/cms.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/jquery/jqModal-1.9.css?q={{appVer}}">
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.simplemodal.confirm.css?q={{appVer}}">
    {% block css_content %} {% endblock %}

    <script src="/static/jquery/jquery-1.10.2.min.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js?q={{appVer}}"></script>
    <script src="/static/bootstrap-dist/js/bootstrap.min.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery.blockUI/jquery.blockUI.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jqModal-1.9.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jqDnR.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jquery.simplemodal.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/jquery/jquery.simplemodal.confirm.js?q={{appVer}}" type="text/javascript"></script>
    {% block js_content %} {% endblock %}

    <script src="/static/js/cms-common.js?q={{appVer}}" type="text/javascript"></script>
    <script src="/static/js/cms.js?q={{appVer}}" type="text/javascript"></script>
<!-- 既存のJSソースはいらない -->
<!-- <script src="/static/js/cms.js?q={{appVer}}" type="text/javascript"></script> -->

    <!-- 一旦、要らない
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to Python</title>
    {% endif %}
    -->
    <!-- 子画面再設定 -->
    <title>{% block title %}{% endblock %}</title>
    {% block style_content %} {% endblock %}
</head>
<body>
    <div id="wrap">
        <style type="text/css">
            div.pspromis-header { background-color: #393f4c; }
            .float_none { float: none !important; }
            .width_170 { width: 170px !important; }
        </style>
        <div class="navbar navbar-inverse navbar-fixed-top pspromis-header" role="navigation">
            <div class="navbar-header">
                <span class="navbar-brand">{% block header_name %} {% endblock %}</span>
            </div><!--navbar-header end-->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li></li>
                </ul>
            </div><!--collapse navbar-collapse-->
        </div><!--navbar navbar-inverse navbar-fixed-top pspromis-header-->

        <div class="container">
        {% block container_content %} {% endblock %}
        </div>
    </div><!--wrap end-->
    {% block script_content %} {% endblock %}
    <div class="jqmWindow" id="jqmWindow"></div>
    <div id="confirm">
        <div class="header"><span>Confirm</span></div>
        <div class="message"></div>
        <div class="buttons middleBtnArea float_none width_170">
            <div class="btn btn-default yes float_none">Yes</div>
            <div class="btn btn-default no simplemodal-close float_none">No</div>
        </div>
    </div>
    <div id="alert">
        <div class="header"><span>Alert</span></div>
        <div class="message"></div>
        <div class="buttons middleBtnArea"><div class="btn btn-default no simplemodal-close">OK</div></div>
    </div>
</body>
</html>
