{% extends "base.html" %}
{% block style_content %}
<style type="text/css">
    .inputText{
        width: 100%;
    }
    .main-form{
        height: 100%;
    }
    .header-content{
        position: fixed;
        top: 40px;
        left: 20px;
        right: 50px;
        padding-top: 10px;
        background-color: #fff;
        /*z-index: 900;*/
        overflow: hidden;
    }
    .main-content{
        padding-top: 35px;
        height: 100%;
        width: 100%;
        overflow: auto;
    }
</style>
<style type="text/css">
    html,body{
        overflow:hidden;
    }
    .header-content{
        right: 17px;
        left:10px;
    }
</style>
{% endblock %}

{% block container_content %}
    <div class="header-content" id="editform-headerContents" style="z-index: 200;">
        <div class="btn-group">
            <button class="btn btn-default" onclick="closeWindow();" type="button">キャンセル</button>
        </div>
    </div>
    <div class="main-content">
        <div class="pjbase-content">
            <iframe width="800" height="600" src="/static/js/pdfjs/web/viewer.html?file={{pdf_full_path}}#page=1&search=Python" allowfullscreen>
            </iframe>
        </div>
    </div>
{% endblock %}
